emoji==2.0.0
keras==2.9.0
matplotlib==3.5.3
numpy==1.23.2
pandas==1.4.3
plotly==5.10.0
scikit-learn==1.1.2
transformers==4.21.2
rich==12.5.1
optuna==3.0.0
mlflow==1.28.0
tensorflow-gpu==2.9.1
h5py==3.7.0
